[build-system]
requires = ['flit_core >=2,<4']
build-backend = 'flit_core.buildapi'

[tool.flit.metadata]
dist-name = 'KDE-diffusion'
module = 'kde_diffusion'
author = 'John Hennig'
requires = ['NumPy', 'SciPy']
requires-python = '>=3.6'
license = 'MIT'
home-page = 'https://pypi.org/project/KDE-diffusion'
description-file = 'pypi.md'
keywords = 'kernel density estimation, statistics'
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Programming Language :: Python :: 3',
    'Operating System :: OS Independent',
    'Topic :: Scientific/Engineering :: Information Analysis',
    'Intended Audience :: Science/Research',
    'Natural Language :: English',
    'License :: OSI Approved :: MIT License']

[tool.flit.metadata.requires-extra]
test = ['pyTest']
doc = ['Sphinx', 'Sphinx-RTD-theme', 'reCommonMark']

[tool.flit.metadata.urls]
Documentation = 'https://kde-diffusion.readthedocs.io'
Source = 'https://github.com/john-hennig/kde-diffusion'
